
@{
	ViewData["Title"] = ViewData["groupName"]+ " members";
	List<User> members = (List<User>)ViewData["groupMembers"];
}
<script>
    function kickMember(groupID,memberID){
        $.ajax({
         type: "POST",
         url: 'kickMember',
         data: JSON.stringify({studentID :memberID, grupID:groupID}),
         contentType: "application/json; ",
         dataType: "json", 
    success: function() {
       location.reload();
        },
         error: function (e) {
             console.log(e);
         }
     });
    }
</script>
<h2>Members</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        
           
            @foreach (var i in members)
            {
                <tr >
                <th scope="row">@i.id</th>
                <td>@i.prenume</td>
                <td>@i.nume</td>
                <td><button onclick="kickMember('@ViewData["groupID"]',@i.id);">kick</button></td>
                </tr>
            }
        

    </tbody>
</table>