
@{
	ViewData["Title"] = ViewData["groupName"]+ " members";
	List<User> members = (List<User>)ViewData["groupMembers"];
}
<h2>Members</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        
           
            @foreach (var i in members)
            {
                <tr >
                <th scope="row">@i.id</th>
                <td>@i.prenume</td>
                <td>@i.nume</td>
                <td><button>kick</button></td>
                </tr>
            }
        

    </tbody>
</table>