@{
    ViewData["Title"] = "Quiz Time!";
   // Layout = "~/Views/Layout.cshtml"; 
}

<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary me-md-2 btn-lg" type="button">Button</button>
  <button class="btn btn-primary btn-lg" type="button">Button</button>
   <button class="btn btn-primary me-md-2 btn-lg" type="button">Button</button>
  <button class="btn btn-primary btn-lg" type="button">Button</button>
</div>


