@{
    ViewData["Title"] = "Homepage!";
   // Layout = "~/Views/Layout.cshtml"; 
}

<h1 class="display-4">Successfully logged in!<</h1>

<form>
  <a class="btn btn-primary" role="button" asp-controller="Quiz" asp-action="Index">Create New Quiz</a>
</form>


<form method="POST" action="/Home/LogoutUser">
<button >Log out</button>
</form>