@{
    ViewData["Title"] = "Edit Group!";
    // Layout = "~/Views/Layout.cshtml";
}


<!--buton/submit pentru add member, remove member, edit nume/descriere
-->
<!--Edit Group-->
<form method="post" action="/Profesor/AddMember">

    <label for="email">Student Email:</label>
    <input id="email" name="email" />
    <br>
    <input type="submit" value="Add Student" />

</form>


