@{
    ViewData["Title"] = "Grup!";

}

<div class="card" style="width: 18rem;">
    <div class="card-body">

        <h5 class="card-title">GroupID</h5>
        <p class="card-text">@ViewData["GroupID"]</p>

        <h5 class="card-title">ProfesorID</h5>
        <p class="card-text">@ViewData["id"]</p>

        <form>
            <a class="btn btn-primary" role="button" asp-controller="Profesor" asp-action="ToEditGroup">Edit Group</a>
        </form>



    </div>
</div>

