@{
    ViewData["Title"] = "Homepage!";
    // Layout = "~/Views/Layout.cshtml";
}

<h1 class="display-4">Successfully logged in!<</h1>

<form>
    <a class="btn btn-primary" role="button" asp-controller="Profesor" asp-action="ToCreateGroup">Create Group</a>
      <a class="btn btn-primary" role="button" asp-controller="Quiz" asp-action="Create">Create New Quiz</a>
  <a class="btn btn-primary" role="button" asp-controller="Quiz" asp-action="MyQuizes">My Created Quizzes</a>
</form>
