@using ProiectIS.Controllers
@{
    ViewData["Title"] = "Quiz Time!";
}

<div class="d-grid gap-2 col-6 mx-auto">
       
  <button class="btn btn-primary me-md-2 btn-lg" type="button">View Personal Data</button>
  <button class="btn btn-primary btn-lg" type="button">Join Group</button>
   <button class="btn btn-primary me-md-2 btn-lg" type="button">Leave Group</button>
  <button class="btn btn-primary btn-lg" type="button">Challenge Student</button>

</div>