@{
}

<form method="post" action="/Student/JoinGroup">

    <label for="groupID">Group ID:</label>
    <input id="groupID" name="groupID" />
    <br>
    <input type="submit" value="Join Group" />

</form>
