<form method="post" action="/Student/LeaveGroup">

    <label for="groupID">Group ID:</label>
    <input id="groupID" name="groupID" />
    <br>
    <input type="submit" value="Leave Group" />

</form>
