@{
    ViewData["Title"] = "Grup!";

}

<div class="card" style="width: 18rem;">
    <div class="card-body">

        <h5 class="card-title">GroupID</h5>
        <p class="card-text">@ViewData["GroupID"]</p>

        <h5 class="card-title">StudentID</h5>
        <p class="card-text">@ViewData["id"]</p>

    </div>
</div>
