@using ProiectIS.Controllers
@{
    ViewData["Title"] = "Your Profile";
}

<div class="card" style="width: 18rem;">
    <div class="card-body">

        <h5 class="card-title">Nume</h5>
        <p class="card-text">@ViewData["Nume"]</p>

        <h5 class="card-title">Prenume</h5>
        <p class="card-text">@ViewData["Prenume"]</p>

        <h5 class="card-title">Rol</h5>
        <p class="card-text">@ViewData["Rol"]</p>

        <h5 class="card-title">Adresa Email</h5>
        <p class="card-text">@ViewData["Email"]</p>

    </div>
</div>
